slack_webhook_url: "https://hooks.slack.com/services/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"
telegram_bot_token: ""
mattermost_webhook_url: ""
rocket_chat_webhook_url: ""
alert:
- email
email: ""
from_addr: ""
smtp_host: "smtp.gmail.com"
smtp_port: 465
smtp_ssl: true
smtp_auth_file: "/opt/elastalert/config/gmail_auth.yaml"